:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white-background);
  color: var(--text);
}
.body-main-page {
  width: 1440px;
  height: 2592px;
}
.body-portfolio {
  width: 1440px;
  height: 2076px;
}
.list {
  list-style-type: none;
}

/* HEADER */

.top-line {
  box-sizing: border-box;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: var(--white-background);
  border-bottom: 1px solid var(--accent);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
.link {
  text-decoration: none;
}
.black-word {
  color: var(--dark);
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  gap: 40px;
}
.nav-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.nav-links:hover {
  color: var(--pressed-state);
}
.nav-links:focus {
  color: var(--pressed-state);
}

.our-address {
  font-style: normal;
}
.contact-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.contact-links:hover {
  color: var(--pressed-state);
}
.contact-links:focus {
  color: var(--pressed-state);
}
.t-mail {
}
.t-phone {
}

/* HERO IMAGE */
.hero-image {
  background: var(--dark);
}
.hero-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white-background);
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 30px;
  gap: 10px;

  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover {
  background-color: var(--pressed-state);
}
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* SECTION 1 */
.section-one {
}
.feature-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.feature-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.feature-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.feature-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.feature-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
/* SECTION 2 */
.section-two {
}
.images-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.images {
}
.img-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.img-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.img-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.rectangle71 {
  box-sizing: border-box;
  width: 360px;
  height: 300px;

  border: 1px solid var(--accent);
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* SECTION 3 */
.section-three {
  background-color: var(--light);
}
.team-cards-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.team-cards {
}
.team-card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-img {
  width: 264px;
  height: 260px;
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 232px;
  height: 56px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* FOOTER */
.foo {
  background: var(--dark);
}
.foo-text {
}
.foo-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
.white-word {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.foo-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--light);
}
